.card {

    ul {
        list-style-type: none;
        margin: 0;
    }

    flex: 1;
    
    &__container {
        display: flex;
    }

    &__title {
        text-align: center;
        h2{
            color: #fff;
            background-color: #253746;
            padding: 15px;
            font-weight: bold;
        }
    }
    
    &.locker_infos {
        background-color: $blackBG;
        padding: 10px;
        .card__title {
            background-color: $green;
        }

        .card__body {
            background-color: $white;

            
            &--description {
                padding: 15px;
                &:not(:last-of-type) {
                    border-bottom: 1px solid $blackBG;
                }
            }
        }
        &:not(:last-of-type) {
            margin-right: 20px;
        }



        // .card__body {
        //     background-color: $blackBG;
        //     color: $white;
        // }
    }

    &.miscellaneous-info{
        .card__body{
            display: flex;
            &--item{
                // flex: 1;
                width: calc(50% - 5px);
                padding: 5px;
                border: 5px solid $blackBG;

                &:last-of-type{
                    margin-left: 2em;
                }
            }
        }

        @media (max-width: 400px){
            .card__body{
                flex-direction: column;
                &--item{
                    width: unset;
                    padding: 0;
                    border: unset;


                    &:last-of-type{
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
