.margin-next{
    margin-bottom: 1rem;
}

%component-title{
    text-align: center;
    color: $white;
    background-color: $blackBG;
    padding: 5px;
    font-weight: bold;
}

%margin-next{
    @include margin-next;
}