.wrapper {
    &__title {
        @extend %component-title;
        margin: 1em 0;

        &--warning{
            background-color: $warning;
        }
    }
}

.festivals__past {
    display: flex;

    &--single{
        max-width: 25%;
        &-title{
            text-align: center;
        }
    }
}

