.wrapper {
    &__title {
        text-align: center;
        color: $white;
        background-color: $blackBG;
        padding: 15px;
        font-weight: bold;
        margin: 1em 0;
    }
}

.title-blue {
    padding: 15px;
    font-weight: bold;
    background-color: $blackBG;
    text-align: center;
    color: $white;
}

.festivals__past {
    display: flex;

    &--single{
        max-width: 25%;
        &-title{
            text-align: center;
        }
    }
}
