body.woocommerce {
    .storefront-full-width-content.single-product div.product .summary {
        width: 100%;
    }
}

.storefront-full-width-content.single-product div#main div.product .summary {
    width: 100%;
}


.storefront-full-width-content.single-product div.product .summary {
    width: 100%;
}

.storefront-full-width-content.single-product div.product .summary {
    width: 100% !important;
    float: unset !important;

}

.product_title.entry-title {
    text-align: center;
    color: $white;
    background-color: $blackBG;
    padding: 15px;
    font-weight: bold;
}

.single-product-form-wrapper {
    display: flex;

    > * {
        flex: 1;
    }
}

.foreign-language{
    background-color: rgba(0,0,0,0.4);
    opacity: 0.4;
}