body.woocommerce {
    .storefront-full-width-content.single-product div.product .summary{
        width: 100%;
    }
}

.storefront-full-width-content.single-product div#main div.product .summary {
    width: 100%;
}


.storefront-full-width-content.single-product div.product .summary {
    width: 100%;
}

.storefront-full-width-content.single-product div.product .summary {
    // width: 100% !important;
    // float: unset !important;

}

.product_title.entry-title {
    // text-align: center;
    // color: $white;
    // background-color: $blackBG;
    // padding: 15px;
    // font-weight: bold;

    @extend %component-title;
}

h3{
    &.product_title.entry-title {
        padding: 0;
        margin-bottom: 0;
    }
}

.woocommerce.single-product{
    .wrapper{
        width: 70%;

        table{
            ul{
                margin:0;
                list-style: none;
                li:not(:last-of-type){
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media (min-width: 769px){

    .single-product-form-container{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .single-product-form-wrapper {
        // position: absolute;
        // right: 0;

        position: absolute;
        right: 0;

        z-index: 1;
        width: 20vw;
        background-color: $blackBG;
        padding: 2em;
        padding-bottom: 0;
    
        .wrapper{
            width: 70%;
            float: left;
            min-height: 300px;
        }
    
        .variations_form {

        }
    
    }

    .woocommerce.single-product{
        .wrapper{
            width: 70%;
        }
    } 
}



.foreign-language{
    background-color: rgba(0,0,0,0.4);
    opacity: 0.4;
}

.form-row{
    &.inline{
        span{
            >*{
                display: inline;
            }
            // label{
            label:not(:last-of-type){
                margin-right: 10px;
            }
        }
    }
}

.hide_if_yes,.hide_if_default{
    display: none;
    opacity: 0;
}

.blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-fill-mode: forwards;
}

.fadeIn {
    animation-duration: 1s;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
}

@keyframes blink {
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.extra_person__wrapper{
    &--input-wrapper{
        display: flex;
        justify-content: space-between;

        &--group{
            display: flex;
            flex-direction: column;
            flex: 1 100%;

            &:not(:last-of-type){
                margin-right: 3em;
            }
        }
    }
}

.woocommerce-checkout{
    thead{
        th{
            background-color: $blackBG;
            color: $white;
        }
    }

    .woocommerce-billing-fields{
        h3{
            background-color: $blackBG;
            color: white;
            padding: 5px;
        }
    }

    .woocommerce-shipping-fields{
        h3{
            background-color: $blackBG;
            color: white;
            padding: 5px;
        }
    }

    h3#order_payment_heading{
        background-color: $blackBG;
        color: white;
        padding: 5px;
    }

    .woocommerce-additional-fields{
        #order_review_heading{
            display: none !important;
        }
    }
}

.woocommerce-cart{
    &-form{
        .woocommerce-cart-form__contents{
            th{
                background-color: $blackBG;
                color: $white;
            }
        }
    }
    .entry-content{
        .woocommerce{
            position: relative;
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;

            .woocommerce-cart-form{
                width: 70%;
            }
            .cart-collaterals{
                width: 25%;
                .cart_totals{
                    background-color: $blackBG;
                    padding: 2em;
                    padding-bottom: 1em;
                    
                    color: $white;
                    
                    h2{
                        color: $white;
                    }
                    table {
                        tbody{
                            tr{
                                td,th{
                                    background-color: $blackBG;
                                }
                            }
                        }
                    }   
                    .wc-proceed-to-checkout{
                        margin-bottom: 0;
                    }
                }

                @media (min-width: 768px){
                    .cart_totals{
                        width: unset;
                        float: unset;
                    }
                }
            }
        }
    }
}

.storefront-full-width-content.woocommerce-cart .entry-header,
.storefront-full-width-content.woocommerce-checkout .entry-header{
    padding: 1.5em 0px 1.5em !important;
    
}

.singleproduct .summary.entry-summary{
    width: 30%;
}

.extra_person__container {
    // background-color: rgba(160, 206, 78, 0.4);
    margin-bottom: 1em;

    .product_name{
        margin: 0;
    }
    .extra_person__wrapper{
        input.invalid{
            box-shadow: inset 2px 0 0 #e2401c;
        }
    }
}

body.woocommerce {
    button.single_add_to_cart_button{
        background-color: $poisonGreen;
        border-color: $poisonGreen;
        width: 100%;

        &:hover{
            background-color: $hoverGreen;
            border-color: $hoverGreen; 
        }
    }
}

a.button.checkout-button{
    background-color: $poisonGreen;
    border-color: $poisonGreen;
    width: 100%;

    &:hover{
        background-color: $hoverGreen;
        border-color: $hoverGreen; 
    }
}

.extra_persons{
    h3{
        background-color: #253746;
        color: white;
        padding: 5px;
    }
}

.widget.woocommerce{
    .woocommerce-mini-cart__buttons{
        .button.wc-forward{
            background-color: $blackBG;
            color: $white;
            &:hover{
                background-color: $blackBG_hover;
            }
            
            &.checkout{
                background-color: $poisonGreen;
                color: $white;

                &:hover{
                    background-color: $hoverGreen;
                }
            }
        }
    }
}

@import './media_queries/woocommerce';