body.woocommerce {
    .storefront-full-width-content.single-product div.product .summary{
        width: 100%;
    }
}

.storefront-full-width-content.single-product div#main div.product .summary {
    width: 100%;
}


.storefront-full-width-content.single-product div.product .summary {
    width: 100%;
}

.storefront-full-width-content.single-product div.product .summary {
    // width: 100% !important;
    // float: unset !important;

}

.product_title.entry-title {
    text-align: center;
    color: $white;
    background-color: $blackBG;
    padding: 15px;
    font-weight: bold;
}

@media (min-width: 768px){

    .single-product-form-container{
        display: flex;
        flex-direction: column;
    }
    .single-product-form-wrapper {
        // display: flex;
        // position: fixed;
        position: absolute;
        // left: 70%;
        right: 0;
        z-index: 1;
        width: 20vw;
        background-color: $blackBG;
        padding: 2em;
    
        .wrapper{
            width: 70%;
            float: left;
            min-height: 300px;
        }
    
        .variations_form {
            // width: 20vw;
            // // position: sticky;
            // position: fixed;
            // left: 70vw;
            // float: left;
    
        }
    
    }

    .woocommerce.single-product{
        .wrapper{
            width: 70%;
        }
    } 
}

.foreign-language{
    background-color: rgba(0,0,0,0.4);
    opacity: 0.4;
}

.form-row{
    &.inline{
        span{
            >*{
                display: inline;
            }
            // label{
            label:not(:last-of-type){
                margin-right: 10px;
            }
        }
    }
}

.hide_if_yes,.hide_if_default{
    display: none;
    opacity: 0;
}

.blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-fill-mode: forwards;
}

.fadeIn {
    animation-duration: 1s;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
}

@keyframes blink {
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.extra_person__wrapper{
    &--input-wrapper{
        display: flex;
        justify-content: space-between;

        &--group{
            display: flex;
            flex-direction: column;
            flex: 1 100%;

            &:not(:last-of-type){
                margin-right: 3em;
            }
        }
    }
}

.woocommerce-checkout{
    thead{
        th{
            background-color: $blackBG;
            color: $white;
        }
    }
}

.woocommerce-cart{
    &-form{
        .woocommerce-cart-form__contents{
            th{
                background-color: $blackBG;
                color: $white;
            }
        }
    }
    .entry-content{
        .woocommerce{
            position: relative;
            display: flex;
            width: 100%;
            justify-content: space-between;

            .woocommerce-cart-form{
                width: 70%;
            }
            .cart-collaterals{
                width: 25%;
                .cart_totals{
                    background-color: $blackBG;
                    padding: 2em;
                    padding-bottom: 1em;
                    
                    color: $white;
                    
                    h2{
                        color: $white;
                    }
                    table {
                        tbody{
                            tr{
                                td,th{
                                    background-color: $blackBG;
                                }
                            }
                        }
                    }   
                    .wc-proceed-to-checkout{
                        margin-bottom: 0;
                    }
                }

                @media (min-width: 768px){
                    .cart_totals{
                        width: unset;
                        float: unset;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .storefront-full-width-content.woocommerce-cart .entry-header,
    .storefront-full-width-content.woocommerce-checkout .entry-header{
        // padding: 0 2.5em;
        padding: 0 0 2.5em;
    }

    body.woocommerce{
        .single-product div.product form.cart{
            margin-bottom: 0;
            padding: 0;
        }

        &.storefront-full-width-content.single-product div.product .summary{
            color: white;
            background-color: $blackBG;
            width: unset;
            float: unset;
            margin-right: 0;
            margin-bottom: unset;
        }
    }
}

.storefront-full-width-content.woocommerce-cart .entry-header,
.storefront-full-width-content.woocommerce-checkout .entry-header{
    padding: 1.5em 0px 1.5em !important;
    
}

.singleproduct .summary.entry-summary{
    width: 30%;
}

.extra_person__container {
    // background-color: rgba(160, 206, 78, 0.4);
    margin-bottom: 1em;

    .product_name{
        margin: 0;
    }
    .extra_person__wrapper{
        input.invalid{
            box-shadow: inset 2px 0 0 #e2401c;
        }
    }
}

body.woocommerce {
    button.single_add_to_cart_button{
        background-color: $poisonGreen;
        border-color: $poisonGreen;
        width: 100%;

        &:hover{
            background-color: $hoverGreen;
            border-color: $hoverGreen; 
        }
    }
}

a.button.checkout-button{
    background-color: $poisonGreen;
    border-color: $poisonGreen;
    width: 100%;

    &:hover{
        background-color: $hoverGreen;
        border-color: $hoverGreen; 
    }
}